#navbar {
    background-color: #c73535;
    height: 100px;
    font-size: large;
    
}

.navbar-light .navbar-nav .active>.nav-link, .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    font-size: xx-large;

}


.carousel-inner {
    max-height: 1000px;
    object-fit: contain;
}

#mappleLeaf-img {
    filter: brightness(0) invert(1);
}


.nav-item {
    padding: 0px 10px ;
}

.col-sm {
    padding: 50px;
    margin: 30px;
    box-shadow: 0px 8px 15px #0000001a;
}

.display-3 {
    text-align: center;
    padding: 80px 0px 30px;
}

.card-text {
    text-align: center;
    font-family: "Verdana";
    
}

.container {
    padding-bottom: 100px;
}

.bottom-container {
    background-color: #c73535;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-text {
    color: white;
    
}